<%- include('./partials/header'); -%>

<section class="homePageMainContainer">
  <div class="topPageContainer">
    <div class="homeLogo">
      <img src="/img/logo2.png" alt="" />
    </div>
    <div class="qoute">
      <div class="leftLine">
        <div class="line"></div>
      </div>
      <p>
        “A good newspaper, I suppose, is a nation talking to itself.”
        ― Arthur Miller</p>
      <div class="rightLine">
        <div class="line"></div>
      </div>
    </div>
  </div>

  <div class="firstPartOfPage">
    <div class="sliderImgs">
      <div class="slideshow-container">
        <div class="slide fade">
          <img id="1" src="<%= worldNews[3].image %>" />
          <div>
            <a class="text" href="<%= worldNews[3].url%>">
              <%= worldNews[3].title%>
            </a>
          </div>
        </div>
        <div class="slide fade">
          <img id="1" src="<%= worldNews[1].image %>" />
          <div>
            <a class="text" href="<%= worldNews[1].url%>">
              <%= worldNews[1].title%>
            </a>
          </div>
        </div>
        <div class="slide fade">
          <img id="1" src="<%= worldNews[2].image %>" />
          <div>
            <a class="text" href="<%= worldNews[2].url%>">
              <%= worldNews[2].title%>
            </a>
          </div>
        </div>
      </div>
      <div id="dotesContainer" class="dots-container">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <br />
    </div>
  </div>

  <h3 class="category">Our News</h3>
  <div class="secondPartOfPage">
    <div class="Upper">
      <div class="firstOurNews upperSecond">
  
        <a href="/article/<%= ourNews[0].id %>">
          <img src="<%= ourNews[0].image %> " alt=""
        /></a>
        <a
          style="
            color: #2d3e50;
            font-weight: bold;
            font-size: 25px;
            text-align: center;
            margin: 8px;
          "
          href="/article/<%= ourNews[0].id %>"
        >
          <%= ourNews[0].title%>
        </a>
      </div>

      <div class="secondOurNews upperSecond">
        <a href="/article/<%= ourNews[1].id %>">
          <img src="<%= ourNews[1].image %> " alt=""
        /></a>
        <a
          style="
            color: #2d3e50;
            font-weight: bold;
            font-size: 25px;
            text-align: center;
            margin: 8px;
          "
          href="/article/<%= ourNews[1].id %>"
        >
          <%= ourNews[1].title%>
        </a>
      </div>
    </div>
    <div class="smallImgsContainer">
      <a href="/article/<%= ourNews[2].id %>">
        <div class="smallImgs smallImgs1">
          <h4
            style="
              color: #2d3e50;
              font-weight: bold;
              font-size: 18px;
              margin: 10% 0 10% 10px;
            "
          >
            <%= ourNews[2].title%>
          </h4>
          <img src="<%= ourNews[2].image %> " alt="" />
        </div>
      </a>
      <a href="/article/<%= ourNews[3].id %>">
        <div class="smallImgs smallImgs2">
          <h4
            style="
              color: #2d3e50;
              font-weight: bold;
              font-size: 18px;
              margin: 10% 0 10% 10px;
            "
          >
            <%= ourNews[3].title%>
          </h4>
          <img src="<%= ourNews[3].image %> " alt="" />
        </div>
      </a>
      <a href="/article/<%= ourNews[3].id %>">
        <div class="smallImgs smallImgs3">
          <h4
            style="
              color: #2d3e50;
              font-weight: bold;
              font-size: 18px;
              margin: 10% 0 10% 10px;
            "
          >
            <%= ourNews[3].title%>
          </h4>
          <img src="<%= ourNews[3].image %> " alt="" />
        </div>
      </a>
      <a href="/article/<%= ourNews[4].id %>">
        <div class="smallImgs smallImgs4">
          <h4
            style="
              color: #2d3e50;
              font-weight: bold;
              font-size: 18px;
              margin: 10% 0 10% 10px;
            "
          >
            <%= ourNews[4].title%>
          </h4>
          <img src="<%= ourNews[4].image %> " alt="" />
        </div>
      </a>
    </div>
  </div>

  <h3 class="category">Arts</h3>
  <div class="secondPartOfPage">
    <div class="gridUpper">
      <div class="firstOurNews upperSecond">
        <a href="<%= artsNews[2].url%>"
          ><img src="<%= artsNews[2].image %> " alt=""
        /></a>
        <a
          style="
            color: #2d3e50;
            font-weight: bold;
            text-align: center;
            font-size: 25px;
            margin: 5px;
          "
          href="<%= artsNews[2].url%>"
        >
          <%= artsNews[2].title%>
        </a>
      </div>
      <div class="secondOurNews upperSecond">
        <a href="<%= artsNews[3].url%>"
          ><img src="<%= artsNews[3].image %> " alt=""
        /></a>
        <a
          style="
            color: #2d3e50;
            font-weight: bold;
            font-size: 25px;
            text-align: center;
            margin: 5px;
          "
          href="<%= artsNews[3].url%>"
        >
          <%= artsNews[3].title%>
        </a>
      </div>
    </div>
    <div class="smallImgsContainer">
      <a href="<%= artsNews[4].url %>">
        <div class="smallImgs smallImgs1">
          <h4
            style="
              color: #2d3e50;
              font-weight: bold;
              font-size: 18px;
              margin: 10% 0 10% 10px;
            "
          >
            <%= artsNews[4].title%>
          </h4>
          <img src="<%= artsNews[4].image %> " alt="" />
        </div>
      </a>
      <a href="<%= artsNews[5].url %>">
        <div class="smallImgs smallImgs2">
          <h4
            style="
              color: #2d3e50;
              font-weight: bold;
              font-size: 18px;
              margin: 10% 0 10% 10px;
            "
          >
            <%= artsNews[5].title%>
          </h4>
          <img src="<%= artsNews[5].image %> " alt="" />
        </div>
      </a>
      <a href="<%= artsNews[6].url %>">
        <div class="smallImgs smallImgs3">
          <h4
            style="
              color: #2d3e50;
              font-weight: bold;
              font-size: 18px;
              margin: 10% 0 10% 10px;
            "
          >
            <%= artsNews[6].title%>
          </h4>
          <img src="<%= artsNews[6].image %> " alt="" />
        </div>
      </a>
      <a href="<%= artsNews[7].url %>">
        <div class="smallImgs smallImgs4">
          <h4
            style="
              color: #2d3e50;
              font-weight: bold;
              font-size: 18px;
              margin: 10% 0 10% 10px;
            "
          >
            <%= artsNews[7].title%>
          </h4>
          <img src="<%= artsNews[7].image %> " alt="" />
        </div>
      </a>
    </div>
  </div>

  <h3 class="category">Our News In Pictures</h3>
  <div class="endContainerHome">
    <a href="<%= artsNews[7].url %>">
      <img class="fisrtImage" src="<%= artsNews[7].image %> " alt="" />
    </a>
    <a href="<%= artsNews[9].url %>">
      <img class="fisrtImage" src="<%= artsNews[9].image %>" alt="" />
    </a>
    <a href="<%= worldNews[4].url %>">
      <img class="fisrtImage" src="<%= worldNews[4].image %>" alt="" />
    </a>
    <a href="<%= scienceNews[4].url %>">
      <img class="fisrtImage" src="<%= scienceNews[4].image %>" alt="" />
    </a>
    <a href="<%= healthNews[4].url %>">
      <img class="fisrtImage" src="<%= healthNews[4].image %>" alt="" />
    </a>
    <a href="<%= healthNews[3].url %>">
      <img class="fisrtImage" src="<%= healthNews[3].image %>" alt="" />
    </a>
  </div>
</section>
<%- include('./partials/footer'); -%>
