<%- include('./partials/header'); -%>

<div class="homePageContainer">
  <div class="firstPartOfPage">
    <div class="leftNews">
      <div class="slideshow-container">
        <div class="mySlides fade">
          <a href="<%= worldNews[0].url%>">
            <img src="<%= worldNews[0].image %>" style="width:100%">
            <div class="text"><%= worldNews[1].title%></div>
          </a>
        </div>
        <div class="mySlides fade">
          <a href="<%= artsNews[0].url%>">
            <img src="<%= artsNews[0].image %>" style="width:100%">
            <div class="text"><%= artsNews[0].title%></div>
          </a>
        </div>
        <div class="mySlides fade">
          <a href="<%= ourNews[0].url%>">
            <img src="<%= ourNews[0].image %>" style="width:100%">
            <div class="text"><%= artsNews[0].title%></div>
          </a>
        </div>
      </div>
      <br>
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>
    <div class="upperRight new">
      <a href="<%= ourNews[1].url%>"
        ><img id="homeImage" src="<%= ourNews[1].image %> " alt=""
      /></a>
      <a id="imageAnchor" href="<%= ourNews[1].url%>"><%= ourNews[1].title%></a>
    </div>
    <div class="lowerLeft new">
      <a id="homeImage" href="<%= artsNews[1].url%>"
        ><img src="<%= artsNews[1].image %> " alt=""
      /></a>
      <a id="imageAnchor" href="<%= artsNews[1].url%>"
        ><%= artsNews[1].title%></a
      >
    </div>
    <div class="lowerRight new">
      <a id="homeImage" href="<%= healthNews[1].url%>">
        <img src="<%= healthNews[1].image %> " alt=""
      /></a>
      <a id="imageAnchor" href="<%= healthNews[1].url%>"
        ><%= healthNews[1].title%></a
      >
    </div>
    </div>

    
  </div>
  <hr />
  <h3 class="category">Our News</h3>
  <div class="secondPartOfPage">
    <div class="firstOurNews">
      <img src="<%= ourNews[2].image %> " alt="" />
      <h4><%= ourNews[2].title%></h4>
    </div>
    <div class="secondOurNews">
      <img src="<%= ourNews[3].image %> " alt="" />
      <h4><%= ourNews[3].title%></h4>
    </div>
    <div class="thirdOurNews lowerFour">
      <img src="<%= ourNews[4].image %> " alt="" />
      <h4><%= ourNews[4].title%></h4>
    </div>
    <div class="forthOurNews lowerFour">
      <img src="<%= ourNews[5].image %> " alt="" />
      <h4><%= ourNews[5].title%></h4>
    </div>
    <div class="fifthOurNews lowerFour">
      <img src="<%= ourNews[6].image %> " alt="" />
      <h4><%= ourNews[6].title%></h4>
    </div>
    <div class="sixthOurNews lowerFour">
      <img src="<%= ourNews[7].image %> " alt="" />
      <h4><%= ourNews[7].title%></h4>
    </div>
  </div>
  <hr />
  <h3 class="category">Arts</h3>
  <div class="thirdPartOfPage">
    <div class="firstartsNews">
      <a href="<%= artsNews[2].url%>"
        ><img src="<%= artsNews[2].image %> " alt=""
      /></a>
      <a class="thirdPartAnchors" href="<%= artsNews[2].url%>"
        ><%= artsNews[2].title%></a
      >
    </div>
    <div class="secondartsNews">
      <a href="<%= artsNews[3].url%>"
        ><img src="<%= artsNews[3].image %> " alt=""
      /></a>
      <a class="thirdPartAnchors" href="<%= artsNews[3].url%>"
        ><%= artsNews[3].title%></a
      >
    </div>
    <div class="thirdartsNews lowerFour">
      <a href="<%= artsNews[4].url%>"
        ><img src="<%= artsNews[4].image %> " alt=""
      /></a>
      <a class="thirdPartAnchors" href="<%= artsNews[4].url%>"
        ><%= artsNews[4].title%></a
      >
    </div>
    <div class="forthartsNews lowerFour">
      <a href="<%= artsNews[5].url%>"
        ><img src="<%= artsNews[5].image %> " alt=""
      /></a>
      <a class="thirdPartAnchors" href="<%= artsNews[5].url%>"
        ><%= artsNews[5].title%></a
      >
    </div>
    <div class="fifthartsNews lowerFour">
      <a href="<%= artsNews[9].url%>"
        ><img src="<%= artsNews[9].image %> " alt=""
      /></a>
      <a class="thirdPartAnchors" href="<%= artsNews[9].url%>"
        ><%= artsNews[9].title%></a
      >
    </div>
    <div class="sixthartsNews lowerFour">
      <a href="<%= artsNews[7].url%>"
        ><img src="<%= artsNews[7].image %> " alt=""
      /></a>
      <a class="thirdPartAnchors" href="<%= artsNews[7].url%>"
        ><%= artsNews[7].title%></a
      >
    </div>
  </div>
  <hr />

  <div class="forthPartOfPage">
    <div class="imagesName">
      <h2>Our News In Pictures</h2>
    </div>
    <div class="firstThreeImages">
      <img
        class="fisrtImage"
        src="https://devwww.thehistorymakers.org/sites/default/files/300x300"
        alt=""
      />
      <img
        class="secondImage"
        src="https://devwww.thehistorymakers.org/sites/default/files/300x300"
        alt=""
      />
      <img
        class="thirdImage"
        src="https://devwww.thehistorymakers.org/sites/default/files/300x300"
        alt=""
      />
    </div>
    <div class="secondThreeImages">
      <img
        class="forthImage"
        src="https://devwww.thehistorymakers.org/sites/default/files/300x300"
        alt=""
      />
      <img
        class="fifthImage"
        src="https://devwww.thehistorymakers.org/sites/default/files/300x300"
        alt=""
      />
      <img
        class="sixthImage"
        src="https://devwww.thehistorymakers.org/sites/default/files/300x300"
        alt=""
      />
    </div>
  </div>
</div>
<%- include('./partials/footer'); -%>
