<%- include('../partials/header') %>

    <!-- <link rel="stylesheet" href="../../../css/modules/article.css"> -->

    <section class="articleContainer">
        <div>
            <br>



            <br>
            <h2 class="h2_article">
                <%= articleData.title %>
            </h2>
            <br>
            <p class="p3_article">
                Published at - <%= new Date(articleData.published_date).toDateString() %> -
            </p>
            <br>
            <br>
            <br>
            <div class="p2_article custom-scrollbar">
               <div class="articleParag">  <%- articleData.content %> </div>
            </div>
            <br>






        </div>
        <div class="sideDiv ">
            <br>
            <% articleCategory.forEach((articleCategory)=> { %>
                <div class="gallery">
                    <a href="<%= articleCategory.url %>"><img class="img_articleCat" src="<%= articleCategory.image %>">
                        <p class="p_articleCat">
                            <%= articleCategory.title%>
                        </p>
                    </a>
                </div>
                <hr class="articleHr">
                <% }); %>
        </div>
    </section>
    <link rel="stylesheet" href="../../../css/modules/article.css">
    <%- include('../partials/footer') %>