<%- include('../partials/header') %>

  
    <section class="categoryContainer">
        <div class="bigItem">

            <a href="<%= categoryApi[9].url%>"><img src="<%= categoryApi[9].image %>" /></a>
            
            <h2>
                <%= categoryApi[9].title %>
            </h2>
            <p class="abstract">
                <%= categoryApi[9].abstract %> 
            </p>
            <sp class="date" style="opacity: 0.5" >
                <%= new Date(categoryApi[9].published_date).toDateString() %>
            </sp>
        </div>

        <% categoryDB.slice(0, 3).forEach((article, i) => { %>
            <div class="categoryItem <% if(i===1){ %>bigItem <% } %>">

                <a href="/article/<%= article.id %>"><img src="<% if(article.link){ %> <%= article.link %> <% } else { %> <%= article.image %> <% } %>" /></a>
                
                <h2>
                    <%= article.title %>
                </h2>
                
                <p class="date">
                    <%= new Date(article.published_date).toDateString() %>
                </p>
            </div>
            <% }) %>

                <% for(var i=0; i<3; i++) {%>
                    <div class="categoryItem">

                        <a href="<%= categoryApi[i].url %>"><img src="<%= categoryApi[i].image %>" /></a>

                        <h2>
                            <%= categoryApi[i].title %>
                        </h2>
                       
                        <p class="date">
                            <%= new Date(categoryApi[i].published_date).toDateString() %>
                        </p>
                    </div>

                    
                    <% } %>


                    <div class="bigItem">

                        <a href="<%= categoryApi[4].url%>"><img src="<%= categoryApi[4].image %>" /></a>
                        
                        <h2>
                            <%= categoryApi[4].title %>
                        </h2>
                        <p class="abstract">
                            <%= categoryApi[4].abstract %> 
                        </p>
                        <sp class="date" style="opacity: 0.5" >
                            <%= new Date(categoryApi[4].published_date).toDateString() %>
                        </sp>
                    </div>




                    <% for(var i=5; i<9; i++) {%>
                        <div class="categoryItem">
    
                            <a href="<%= categoryApi[i].url %>"><img src="<%= categoryApi[i].image %>" /></a>
    
                            <h2>
                                <%= categoryApi[i].title %>
                            </h2>
                           
                            <p class="date">
                                <%= new Date(categoryApi[i].published_date).toDateString() %>
                            </p>
                        </div>
    
                        
                        <% } %>

    </section>

    <%- include('../partials/footer') %>