<%- include('../partials/header') %>

    <link rel="stylesheet" href="../../../css/modules/article.css">

    <section class="articleContainer">
        <div>
            <br>
            <p class="p_article">Category: <%= articleData.name %>
            </p>
            <br>
            <h2 class="h2_article">
                <%= articleData.title %>
            </h2>
            <br>
            <img class="img_article" src="<%= articleData.image %>" alt="">
            <br>
            <p class="p1_article">
                <%= articleData.abstract %>
            </p>
            <br>
            <p class="p2_article">
                <%= articleData.content %>
            </p>
            <br>
            <p class="p3_article">
                <%= articleData.published_date %>
            </p>

            <form style="margin-top: 300px;" class="form-style-4" action="" method="post">
                <label for="field1">
                <span>Enter Your Name</span><input type="text" name="field1" required="true" />
                </label>
                <label for="field2">
                <span>Email Address</span><input type="email" name="field2" required="true" />
                </label>
                <label for="field3">
                <span>Short Subject</span><input type="text" name="field3" required="true" />
                </label>
                <label for="field4">
                <span>Message to Us</span><textarea name="field4" onkeyup="adjust_textarea(this)" required="true"></textarea>
                </label>
                <label>
                <span> </span><input type="submit" value="Send Letter" />
                </label>
                </form>


        </div>
        <div>
            <br>
            <% articleCategory.forEach((articleCategory)=> { %>
                <div class="gallery">
                    <a href="<%= articleCategory.url %>"><img class="img_articleCat" src="<%= articleCategory.image %>">
                        <p class="p_articleCat">
                            <%= articleCategory.title%>
                        </p>
                    </a>
                </div>
                <% }); %>
        </div>
    </section>
    <link rel="stylesheet" href="../../../css/modules/article.css">
        <script src="../../../js/article.js"></script>
    <%- include('../partials/footer') %>