<%- include('../partials/header') %>

    <!-- <link rel="stylesheet" href="../../../css/modules/article.css"> -->
    <p class="p_article">
        <%= articleData.name %> Section
    </p>
    <section class="articleContainer">
        <div>
            <br>



            <br>
            <h2 class="h2_article">
                <%= articleData.title %>
            </h2>
            <br>
            <br>
            <br>
            <div class="p2_article custom-scrollbar">
                <%- articleData.content %>
            </div>
            <br>
            <p class="p3_article">
                Published at ( <%= new Date(articleData.published_date).toDateString() %> )
            </p>





        </div>
        <div class="sideDiv ">
            <br>
            <% articleCategory.forEach((articleCategory)=> { %>
                <div class="gallery">
                    <a href="<%= articleCategory.url %>"><img class="img_articleCat" src="<%= articleCategory.image %>">
                        <p class="p_articleCat">
                            <%= articleCategory.title%>
                        </p>
                    </a>
                </div>
                <hr class="articleHr">
                <% }); %>
        </div>
    </section>
    <link rel="stylesheet" href="../../../css/modules/article.css">
    <%- include('../partials/footer') %>