<%- include('../partials/header') %>

  
    <section class="categoryContainer">

        <% for(var i=0; i<4; i++) {%>
            <div class="categoryItem <% if(i===0){ %>bigItem <% } %>">

                <a href="/article/<%= categoryDB[i].id %>"><img src="<%= categoryDB[i].image %>" /></a>
                
                <h2>
                    <%= categoryDB[i].title %>
                </h2>
                
                <p>
                    <%= new Date(categoryDB[i].published_date).toDateString() %>
                </p>
            </div>
            <% } %>

                <% for(var i=0; i<8; i++) {%>
                    <div class="categoryItem <% if(i===3){ %>bigItem <% } %>">

                        <a href="<%= categoryApi[i].url %>"><img src="<%= categoryApi[i].image %>" /></a>

                        <h2>
                            <%= categoryApi[i].title %>
                        </h2>
                       
                        <p>
                            <%= new Date(categoryApi[i].published_date).toDateString() %>
                        </p>
                    </div>

                    <% } %>
    </section>

    <%- include('../partials/footer') %>