<%- include('../partials/header') %>

    <div class="pageName">
        <h1><%= categoryDB[0].name %></h1>
    </div>
    <section class="categoryContainer">

        <% for(var i=0; i<4; i++) {%>
            <div class="categoryItem <% if(i===0){ %>bigItem <% } %>">

                <a href="<%= categoryDB[i].url %>"><img src="<%= categoryDB[i].image %>" /></a>
                
                <h2>
                    <%= categoryDB[i].title %>
                </h2>
                <p>
                    <%= categoryDB[i].category %>
                </p>
                <p>
                    <%= categoryDB[i].abstract %>
                </p>
                <p>
                    <%= categoryDB[i].published_date %>
                </p>
            </div>
            <% } %>

                <% for(var i=0; i<8; i++) {%>
                    <div class="categoryItem <% if(i===3){ %>bigItem <% } %>">

                        <a href="<%= categoryApi[i].url %>"><img src="<%= categoryApi[i].image %>" /></a>

                        <h2>
                            <%= categoryApi[i].title %>
                        </h2>
                        <p>
                            <%= categoryApi[i].category %>
                        </p>
                        <p>
                            <%= categoryApi[i].abstract %>
                        </p>
                        <p>
                            <%= categoryApi[i].published_date %>
                        </p>
                    </div>

                    <% } %>
    </section>

    <%- include('../partials/footer') %>