<div class="dashboard_list_article_container">
  <div class="dashboard_header">
    <a href="/admin/article/new"> + New Article</a>
    <form class="dashboard_search_form" action="" method="get">
      <input type="hidden" name="category" value="<%= category_name %>">
      <input type="search" placeholder="Search for title" name="keyword" id="keyword">
      <input type="submit" value="Search">
    </form>
  </div>
  <% articles.forEach(article=> { %>
  <div class="dashboard_card">
    <div class="dashboard_card_left">
      <img src="<% if(article.link){ %> <%= article.link %> <% } else { %> <%= article.image %> <% } %>   " alt="<%= article.title %>" />
      <div class="dashboard_card_info">
        <div class="card_title"><%= article.title %></div>
        <div class="published_at">
          - <%= new Date(article.published_date).toDateString() %> -
        </div>
      </div>
    </div>
    <div class="dashboard_card_info_actions">
      <a href="/admin/article/<%= article.id %>">
        <button class="admin-button one" type="submit">Edit</button>
      </a>
      <form
        action="/admin/article/<%= article.id %>?_method=delete"
        method="post"
      >
        <button class="admin-button two" type="submit"> Delete</button>
      </form>
    </div>
  </div>
  <% }) %>
  
</div>