<%- include('./partials/header') %>

    <div class="admin_article_container">
        <form class="adminForm" action="<% if(article && article.id){ %>/admin/article/<%= article.id %>?_method=put<% } %>" method="post">
            <div class="adminForm_container">
                <h1 class="admin_article_title">
                    <% if(article.length > 0) { %>Edit<% } else { %> <% } %> - Add / Edit Article -
                </h1>
            </div>
            <input type="hidden" name="id" <% if(article && article.id){ %> value="<%= article.id %>" <% } %>>
            <div class="input_first_row_container">
                <div class="input_container1">
                    <select name="category" id="categoryAdminF">
                        <option>Choose Category</option>
                        <% categories.forEach(cat => { %>
                            <option <% if(article && article.category_id === cat.id) { %> selected="selected" <% } %>   value="<%= cat.id %> "><%= cat.name %> </option>
                        <% }) %> 
                    </select>
                </div>
                <div class="input_container1">
                    <input class="title-img" type="text" name="title" id="title" placeholder="Title of the article" required <% if(article && article.title){ %> value="<%= article.title %>" <% } %> >
                </div>
                <div class="input_container1">
                    <input class="title-img" type="text" name="image" id="image" placeholder="Cover image URL" required <% if(article && article.image){ %> value="<%= article.image %>" <% } %> >
                </div>
            </div>
            <div class="input_container2">
                <textarea name="content" id="editor" cols="30" rows="10" required>
                   <div> <% if(article && article.content){ %> 
                   <div class="inputDiv"><%= article.content %> </div> 
                    <% } %></div>
                </textarea>
            </div>
            <div class="input_container">
                <input type="submit" value="Post"> 
            </div>
        </form>
    </div>
<%- include('./partials/footer') %> 