<%- include('./partials/header') %>
<div class="admin_dashboard_container">

 <%- include('./partials/sideNav') %> 
  <div class="dashboard_main">
    <div class="dashboard_messages">
      <%- messages() %>
    </div>
    <%- include('./partials/dashBoardListArticle') %> 
  </div>
</div>
<%- include('./partials/footer') %>
