<%- include('./partials/header') %>

<div class="admin_dashboard_container">

 <%- include('./partials/sideNav') %> 
  <div class="dashboard_main">
    <div class="dashboard_messages">
      <%- messages() %>
    </div>
    <%- include('./partials/dashBoardListArticle') %> 
    <div class="admin_pagination">
      <a <% if(pageNumber > 1){ %>href="/admin/dashboard?category=<%= category_name %>&page=<%= pageNumber - 1 %>"<% }else{ %>class="is_disabled" <% } %> >&laquo;</a>
      <a class="active" href="/admin/dashboard?category=<%= category_name %>&page=<%= pageNumber %>"><%= pageNumber %> </a>
      <a <% if(hasNext){ %>href="/admin/dashboard?category=<%= category_name %>&page=<%= pageNumber + 1 %>"<% }else{ %>class="is_disabled" <% } %>>&raquo;</a>
    </div>
  </div>
  <%- include('./partials/footer') %>